<tr>
  <td><%= job.year %></td>
  <td><%= job.collectivity %></td>
  <td><%= job.contract_type %></td>
  <td><%= job.job %></td>
  <td><%= job.level %></td>
  <td><%= job.specialty %></td>
  <td><%= job.updated_at %></td>
</tr>
