<tr>
  <td><%= job.year %></td>
  <td><%= job.contract_type %></td>
  <td><%= job.job %></td>
  <td><%= "#{job.men_workforces} (#{job.men_percentage} %)" %></td>
  <td><%= "#{job.women_workforces} (#{job.women_percentage} %)" %></td>
  <% if job.parity_valid? %>
    <td class='text-success'><i class='fas fa-venus-mars'></i> <%= "#{job.parity_score} %" %></td>
  <% elsif job.men_percentage > job.women_percentage %>
    <td class='text-primary'><i class='fas fa-mars'></i> <%= "#{job.parity_score} %" %></td>
  <% else job.men_percentage > job.women_percentage %>
    <td class='text-magenta'><i class='fas fa-venus'></i> <%= "#{job.parity_score} %" %></td>
  <% end %>
</tr>
